.vcomp-curtain {
  position: fixed;

  &--inner {
    position: absolute;
  }

  &__wrapper {
    box-shadow: 0 1px 4px rgb(185 185 185);
  }

  &__handle {
    position: absolute;
    background-color: rgb(179 174 174);
    cursor: pointer;

    &:hover {
      background-color: rgb(132 130 130);
    }
  }

  &__handle--top {
    width: 80px;
    height: 5px;
    top: -5px;
    left: 50%;
    border-radius: 6px 6px 0 0;
    transform: translateX(-50%);
  }

  &__handle--right {
    width: 5px;
    height: 80px;
    top: 50%;
    right: -5px;
    border-radius: 0 6px 6px 0;
    transform: translateY(-50%);
  }

  &__handle--bottom {
    width: 80px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    border-radius: 0 0 6px 6px;
    transform: translateX(-50%);
  }

  &__handle--left {
    width: 5px;
    height: 80px;
    top: 50%;
    left: -5px;
    border-radius: 6px 0 0 6px;
    transform: translateY(-50%);
  }
}