.#{$prefix}-radio-group {
  display: inline-block;
  font-size: 0;
  line-height: 1;
  vertical-align: middle;

  &--vertical .#{$prefix}-radio {
    display: block;
    height: 30px;
    line-height: 30px;
  }

  .#{$prefix}-radio--button {
    &:first-child {
      .#{$prefix}-radio__label {
        border-left: 1px solid #dcdee2;
        border-radius: 4px 0 0 4px;
      }
    }

    &:last-child {
      .#{$prefix}-radio__label {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
