.vcomp-radio {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  color: #606266;
  cursor: pointer;
  user-select: none;

  &.is-bordered {
    padding: 12px 20px;
    border: 1px solid #dcdee2;
    border-radius: 4px;

    &.is-checked {
      border: 1px solid #00c0ec;
    }

    &.vcomp-radio--medium {
      padding: 10px 20px;
    }

    &.vcomp-radio--small {
      padding: 8px 15px;
      font-size: 12px;
    }

    &.vcomp-radio--mini {
      padding: 6px 15px;
      font-size: 12px;
    }
  }
}

.vcomp-radio__inner {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 100%;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    content: "";
    background-color: #fff;
    border-radius: 100%;
    transition: transform 0.2s ease-in;
    transform: translate(-50%, -50%) scale(0);
  }

  &:hover {
    border: 1px solid #00c0ec;
  }
}

.vcomp-radio__input {
  position: relative;
  line-height: 0;
  vertical-align: middle;
  cursor: pointer;

  &.is-checked .vcomp-radio__inner {
    box-sizing: border-box;
    background-color: #00c0ec;
    border-color: #00c0ec;

    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &.is-disabled {
    & + span {
      color: #c0c4cc;
      cursor: not-allowed;
    }

    &.is-checked .vcomp-radio__inner {
      background-color: #f5f7fa;
      border-color: #e4e7ed;

      &::after {
        background-color: #c0c4cc;
      }
    }
  }
}

.vcomp-radio__original {
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0;
}

.vcomp-radio__label {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  transition: all 0.3s;
}

.vcomp-radio--button {
  margin: 0;

  .vcomp-radio__label {
    padding: 12px 20px;
    border: 1px solid #dcdee2;
    border-left: 0;
  }

  .vcomp-radio__input {
    display: none;
  }

  &.is-checked {
    .vcomp-radio__label {
      color: white;
      background-color: #00c0ec;
    }
  }
}
