// transition动效
// fade
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to  {
  opacity: 0;
}

// show-left
.vcomp-show-left-enter-active,
.vcomp-show-left-leave-active {
  transition: all .5s;
}

.vcomp-show-left-enter,
.vcomp-show-left-leave {
  opacity: 0;
  transform: translateX(100%);
}

// show-right
.vcomp-show-right-enter-active,
.vcomp-show-right-leave-active {
  transition: all .5s;
}

.vcomp-show-right-enter,
.vcomp-show-right-leave {
  opacity: 0;
  transform: translateX(-100%);
}

// show-top
.vcomp-show-top-enter-active,
.vcomp-show-top-leave-active {
  transition: all .5s;
}

.vcomp-show-top-enter,
.vcomp-show-top-leave {
  opacity: 0;
  transform: translateY(100%);
}

// show-bottom
.vcomp-show-bottom-enter-active,
.vcomp-show-bottom-leave-active {
  transition: all .5s;
}

.vcomp-show-bottom-enter,
.vcomp-show-bottom-leave {
  opacity: 0;
  transform: translateY(-100%);
}